fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin: 0;
}

input,
select,
textarea {
  display: block;
  font-family: $font-family;
  font-size: 16px;
}

#{$all-text-inputs} {
  appearance: none;
  background-color: $white;
  border: $border;
  border-radius: $border-radius;
  box-sizing: border-box;
  margin: 0;
  padding: $base-spacing / 3;
  transition: border-color $animation-duration $animation-timing;
  width: 100%;

  &:hover {
    border-color: shade($color--border, 20%);
  }

  &:focus {
    border-color: $color--action;
    outline: none;
  }

  &:disabled {
    background-color: shade($white, 5%);
    cursor: not-allowed;

    &:hover {
      border: $border;
    }
  }

  &::placeholder {
    color: $medium-gray;
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin: 0;
  width: 100%;
}

select {
  margin: 0;
  width: 100%;
}
