<h1 itemprop="name">
  <span itemprop="organizer"
        itemtype="http://schema.org/Organization"
        itemscope>
    <meta itemprop="name"
          content="Greater Kansas City Chapter of the American Guild of Organists">
    <meta itemprop="url"
          content="http://www.kcago.com/">
    <span class="c-convention-details__title-line-one">
      American Guild of Organists
    </span>
    <span class="c-convention-details__title-line-two">
      National&nbsp;Convention
    </span>
    <hr>
  </span>
</h1>

<h2 itemprop="location"
    itemtype="http://schema.org/Place"
    itemscope>
  <span class="c-convention-details__tagline-line-one">
    Bach, Blues &amp; BBQ:
  </span>
  <span class="c-convention-details__tagline-line-two">
    Feed Your Ears In
  </span>
  <span itemprop="name">
    <span class="c-convention-details__tagline-line-three"
          itemprop="address"
          itemtype="http://schema.org/PostalAddress"
          itemscope>
      <span itemprop="addressLocality">Kansas City</span>,
      <span itemprop="addressRegion">Missouri</span>
    </span>
  </span>
</h2>

<h3 class="c-convention-details__tagline-line-four">
  <time datetime="2018-07-02"
        itemprop="startDate">
    July 2<span class="u-hide-visually">, 2018</span>
  </time>
  &ndash;
  <time datetime="2018-07-06"
        itemprop="endDate">
    <span class="u-hide-visually">July </span>6, 2018
  </time>
</h3>

<hr>
