<form action="//AGOKC2018.us14.list-manage.com/subscribe/post?u=573b9e4cfc91d54bf0b480c7a&amp;id=44ae0e53c4"
      name="mc-embedded-subscribe-form"
      method="post"
      target="_blank">

  <fieldset>
    <div class="c-form-field">
      <label class="u-hide-visually"
             for="mce-FIRST_NAME">First Name</label>
      <input id="mce-FIRST_NAME"
             name="FIRST_NAME"
             type="text"
             placeholder="First Name"
             autocomplete="given-name"
             required>
    </div>

    <div class="c-form-field">
      <label class="u-hide-visually"
             for="mce-LAST_NAME">Last Name</label>
      <input id="mce-LAST_NAME"
             name="LAST_NAME"
             type="text"
             placeholder="Last Name"
             autocomplete="family-name"
             required>
      </div>
  </fieldset>

  <div class="c-form-field">
    <label class="u-hide-visually"
           for="mce-EMAIL">Email Address</label>
    <input id="mce-EMAIL"
           name="EMAIL"
           type="email"
           placeholder="Email Address"
           autocomplete="email"
           required>
  </div>

  <div class="c-form-field">
    <label class="u-hide-visually"
           for="mce-ZIP_CODE">Zip Code</label>
    <input id="mce-ZIP_CODE"
           name="ZIP_CODE"
           type="text"
           placeholder="Zip Code"
           autocomplete="postal-code">
  </div>

  <div aria-hidden="true" class="u-hide-visually">
    <input name="b_a5c71e611696eace85a2f204f_c254b9e552"
           type="text"
           tabindex="-1"
           value="">
  </div>

  <button name="subscribe" type="submit">Subscribe</button>
</form>
