<form action=""
      name="mc-embedded-subscribe-form"
      method="post"
      target="_blank">

  <label for="mce-FIRST_NAME">First Name</label>
  <input id="mce-FIRST_NAME"
         name="FIRST_NAME"
         type="text"
         autocomplete="given-name"
         required>

  <label for="mce-LAST_NAME">Last Name</label>
  <input id="mce-LAST_NAME"
         name="LAST_NAME"
         type="text"
         autocomplete="family-name"
         required>

  <label for="mce-EMAIL">Email Address</label>
  <input id="mce-EMAIL"
         name="EMAIL"
         type="email"
         autocomplete="email"
         required>

  <label for="mce-ZIP_CODE">Zip Code</label>
  <input id="mce-ZIP_CODE"
         name="ZIP_CODE"
         type="text"
         autocomplete="postal-code">

  <div aria-hidden="true" class="u-hide-visually">
    <input name="b_a5c71e611696eace85a2f204f_c254b9e552"
           type="text"
           tabindex="-1"
           value="">
  </div>

  <button name="subscribe" type="submit">Subscribe</button>
</form>
