<form action="<%= data.site.mailchimp_action_url %>"
      name="mc-embedded-subscribe-form"
      method="post"
      target="_blank"
      novalidate>

  <label for="mce-EMAIL">Email Address</label>
  <input id="mce-EMAIL" name="EMAIL" type="email">

  <label for="mce-FNAME">First Name</label>
  <input id="mce-FNAME" name="FNAME" type="text">

  <label for="mce-LNAME">Last Name</label>
  <input id="mce-LNAME" name="LNAME" type="text">

  <div aria-hidden="true">
    <input name="b_a5c71e611696eace85a2f204f_c254b9e552"
           tabindex="-1"
           type="text"
           value="">
  </div>

  <button name="subscribe" type="submit">Subscribe</button>
</form>
