.p-media-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.p-media-block__title {
  width: 100%;
}

.p-media-block__body {
  margin-top: $small-spacing;
}

.p-media-block__body,
.p-media-block__media {
  @media (min-width: 48em) {
    width: calc(50% - 1rem);
  }
}
