// Colors

$white: #fff;
$black: #000;

$dark-gray: #222;
$medium-gray: #777;
$light-gray: #ddd;

$ago-dark-blue: #314563;
$ago-orange: #e96e47;
$ago-yellow: #f3c342;

$color--body-background: $ago-dark-blue;
$color--body-text: $white;
$color--action: $ago-yellow;
$color--border: $light-gray;


// Typography

$font-family: $font-stack-system;
$font-family--heading: $font-family;
$line-height: 1.5;
$line-height--heading: 1.2;
$space-between-paragraphs: 1em;
$line-length: 36em;


// General

$base-spacing: 1rem;
$small-spacing: $base-spacing / 2;

$border-radius: 3px;
$border: 1px solid $color--border;

$animation-duration: 150ms;
$animation-timing: ease;

// $bourbon: (
//   "modular-scale-ratio": $major-second,
//   "rails-asset-pipeline": true,
// );
