.c-hero {
  @include padding(($base-spacing * 3) null);
  background-image: url("/assets/images/kauffman-center-helzberg-hall.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 85vh;
  position: relative;
  text-align: center;
  text-shadow: 0 0 10px rgba($black, 0.7);

  &::after {
    @include position(absolute, 0);
    background-color: rgba($black, 0.35);
    content: "";
    z-index: 0;
  }
}
