<ul>
  <li>Pamela Decker - <em>Distinguished Composer</em></li>
  <li>Chen Yi</li>
  <li>Benjamin Cornelius-Bates</li>
  <li>Emma Lou Diemer</li>
  <li>Thierry Eschaich</li>
  <li>Frank Ferko</li>
  <li>Sir James MacMillan</li>
  <li>Anthony Maglione</li>
  <li>Cecilia McDowall</li>
  <li>Rosephanye Powell</li>
  <li>Tarik O'Regan</li>
  <li>Forrest Pierce</li>
  <li>Jean-Baptiste Robin</li>
</ul>
