<ul>
  <li>Pamela Decker - <em>Distinguished Composer</em></li>
  <li>James MacMillan</li>
  <li>Forrest Pierce</li>
  <li>Chen Yi</li>
  <li>Emma Lou Diemer</li>
  <li>Frank Ferko</li>
  <li>Tarik O'Regan</li>
  <li>Jean-Baptiste Robin</li>
  <li>And more</li>
</ul>
