<p>Workshops and Continuing Education Opportunities at the 2018 Convention will present over 70 Sessions including:</p>

<ul class="c-column-list">
  <li>12 presentations from our National Headquarters</li>
  <li>Multiple Reading Sessions of Choral and Organ Music</li>
  <li>Topics of Recent Research and Rediscovered Repertoire</li>
  <li>Practical Topics and Resources for the Church Musician</li>
  <li>Several Sessions on Technique with Choirs</li>
  <li>Presentations related to World War I</li>
  <li>Topics on Keyboard Technique, Practice, How the Mind Thinks, and Improvisation</li>
  <li>Sessions for Engaging Young Interest in Music and Integrating Children in Worship</li>
  <li>Discussion of Organ Competitions</li>
  <li>Study of Developing Jazz in Worship</li>
  <li>Highlighted Organ and Choral Repertoire from Latvia, Finland, Germany, Scotland, and England</li>
  <li>Sessions on Health, Posture, and Daily Exercise</li>
</ul>
