<ul>
  <li>Nelson-Atkins Museum of Art</li>
  <li>Arabia Steamboat Museum</li>
  <li>Kauffman Center for the Performing Arts</li>
  <li>Country Club Plaza</li>
  <li>Negro Leagues Baseball Museum</li>
  <li>Kauffman Stadium</li>
  <li>Sprint Center</li>
  <li>Power and Light District</li>
  <li>City Market</li>
  <li>Arrowhead Stadium</li>
</ul>
