<ul>
  <li>National World War I Museum and Memorial</li>
  <li>Union Station</li>
  <li>Science City</li>
  <li>Crown Center</li>
  <li>Kaleidoscope</li>
  <li>Hallmark Visitors Center</li>
  <li>SEA LIFE Kansas City</li>
  <li>LEGOLAND Discovery Center</li>
</ul>
