<%= partial "partials/convention_details" %>

<h4>To receive more information, sign up for our newsletter below, or
<a href="mailto:l.bratney.ago.2018@gmail.com">email Convention Chair
Lynn Bratney</a>.</h4>

<%= partial "partials/mailchimp_sign_up" %>
