<h1>
  American Guild Of Organists<br>
  National Convention
</h1>

<h2>Kansas City, Missouri</h2>

<h3>
  <time datetime="2018-07-02">
    July 2<span class="u-hide-visually">, 2018</span>
  </time>
  &ndash;
  <time datetime="2018-07-06">
    <span class="u-hide-visually">July </span>6, 2018
  </time>
</h3>
